$header1: calc(2rem + 1vw);
$header2: calc(3.5rem + 1vw);
$header3: calc(3rem + 1vw);
$header4: calc(2.4rem + 1vw);
$header5: calc(2.6rem + 1vw);
$text: calc(1.5rem + 1vw);
$big: calc(7rem + 1vw);

$background-color: #414141;
$gray-text: #424242;
$special-color: #906272;

@font-face {
    font-family: 'Ruhl';
    src: url(./fonts/FrankRuhlLibre-Regular.ttf);
}

@font-face {
    font-family: 'Ruhl Medium';
    src: url(./fonts/FrankRuhlLibre-Medium.ttf);
}

@font-face {
    font-family: 'Vibes';
    src: url(./fonts/GreatVibes-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Ruhl", sans-serif;
    animation: opening 1s ease-in-out;
}

h1 {
    font-size: $header1;
    font-family: "Vibes", sans-serif;
}

li,
button,
label,
input,
p,
a {
    font-size: $text;
}

h2 {
    font-size: $header2;
}

h3 {
    font-size: $header3;
}

h4 {
    font-size: $header4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*nav section */
.main-header {
    box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: 0.2);
    z-index: 2;
    position: relative;
}

nav {
    width: 90%;
    margin: auto;
    min-height: 10vh;

    display: flex;
    align-items: center;

    padding: 2rem 0rem;
}

#logo {
    flex: 1 1 20rem;
    z-index: 2;
}

.nav-links {
    display: flex;
    flex: 1 1 20rem;
    justify-content: space-around;
}

// Main Section - Welcome

.hero {
    min-height: 90vh;
    width: 95%;
    margin: 0 0 0 auto;

    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.hero-introduction {
    flex: 2 1 40rem;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-introduction p {
    padding: 5rem 10rem;

    color: $gray-text;
}

.hero-introduction h2 {
    padding-top: 3rem;
}

.hero-introduction a {
    padding: 2rem 8rem;
    margin-bottom: 4rem;
    border: 3px solid black;
}

.hero-images {
    flex: 1 1 40rem;
    background: linear-gradient(#dad8dd, #dad1d4);
    position: relative;
    z-index: 1;
}

.hero-main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//plants

.plant {
    max-height: 80%;
    position: absolute;
    bottom: 0;
    left: -20%;
    z-index: -1;
    animation: plant-entrance 2.5s ease-in-out 0.5 forwards,
        plant-shake 2.5s infinite ease-in-out alternate-reverse;
    transform-origin: bottom;
}

.plant2 {
    left: 40%;
}

// About Section
.about {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.about h3 {
    text-align: center;
    letter-spacing: 1.2rem;
}

.about-text {
    color: white;
    background: $background-color;
    flex: 2 1 40rem;
    justify-content: space-around;
}

.about-text div {
    padding: 3rem 8rem;
}

.about-text h3 {
    padding: 2rem 0rem;
    font-family: "Ruhl Medium";
}

.about-text h2 {
    font-family: "Vibes";
    padding: 4rem;
    text-align: center;
}

.about-image {
    flex: 1 1 40rem;
    position: relative;
}

.about-image h5 {
    position: absolute;
    letter-spacing: 3rem;
    text-transform: uppercase;
    font-family: "Ruhl Medium";
    top: 20%;
    left: 50%;
    font-size: $header5;
    transform: translate(-50%, -20%);
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-contact p {
    text-align: center;
}

//gallery

.gallery {
    display: grid;
    min-height: 100vh;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-1 {
    grid-column: 1/3;
}

.gallery-2 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.gallery-head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: $background-color;
    padding: 5rem 10rem;
    text-align: center;
}

//Contact Section
.contact {
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;

}

.form-wrapper {
    flex: 3 1 40rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-wrapper h2 {
    margin: 5rem 0rem;
}

.form-wrapper span {
    font-size: $big;
    color: $special-color
}

.form-wrapper label {
    display: block;
}

.form-wrapper input {
    display: block;
    margin: 3rem 0rem;
    background: $background-color;
    color: white;
    border: none;
    padding: 1rem;
}

.form-wrapper button {
    padding: 1rem 8rem;
    background: $special-color;
    color: white;
    border: none;
    border-radius: 2rem;
    width: 100%;
}

.contact img {
    flex: 1 1 40rem;
}


//footer

footer {
    display: flex;
    background: $background-color;
    padding: 3rem 5%;
    align-items: center;
    color: white;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 40rem;
}

footer h4 {
    flex: 3 1 40rem;
    font-size: calc(1.4rem+1vw);
}

// Animations

@keyframes opening {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes plant-entrance {
    from {
        transform: translateY(10%) rotateZ(-10deg);
    }

    to {
        transform: translateY(0%) rotateZ(0deg);
    }
}

@keyframes plant-shake {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(-5deg);
    }
}



//removing image on contact asap to look better
@media screen and (max-width: 1050px) {
    .contact img {
        display: none;
    }
}

// Tablet resolution
@media screen and (max-width: 850px) {

    // Small responsive parts
    .hero {
        width: 100%;
    }

    .hero-introduction {
        padding: 5rem 3rem;
    }

    //burger

    .burger {
        cursor: pointer;
        position: relative;
        display: block;
    }

    .burger span {
        margin: 0.5rem 0rem;
        padding: 0.2rem 2rem;
        background: $gray-text;
        display: block;
        transition: all 0.5s ease;
    }

    .nav-open {
        transform: translateX(-100%);
    }

    .toggle .line1 {
        transform: rotateZ(45deg) translateY(300%);
        background: $special-color;
        z-index: 2;
        position: sticky;
        top: 0%;
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotateZ(-45deg) translateY(-300%);
        background: $special-color;
        z-index: 2;
        position: sticky;
        top: 0%;
    }

    //nav stuff

    .nav-links a {
        color: white;
        font-size: $header3;
        text-decoration: underline;
    }

    .nav-links {
        font-family: "Ruhl Medium";
        text-transform: uppercase;

        background: #906272;

        width: 100%;
        height: 40rem;
        position: fixed;

        right: 40rem;
        top: 7rem;
        left: 100%;

        flex-direction: column;
        align-items: center;
        z-index: 1;
    }

    //gallery stuff for responsive stuff

    .gallery {
        grid-row: auto;
        grid-column: auto;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }

    .gallery-head {
        display: none;
    }

    //footer
    footer {
        flex-direction: column;
        max-height: 4%;
    }

    footer ul {
        order: 2;
        flex: 1 1 0rem;
    }

    footer ul li {
        padding: 0rem 3rem;
    }

    footer h4 {
        order: 1;
        flex: 1 1 10rem;
        text-align: center;
        padding: 1rem;

    }

}

//for grid in main - (looks better btw)
@media screen and (max-width: 700px) {

    //gallery
    .gallery {
        display: block;
    }

    .gallery-2 {
        max-height: 65rem;
        object-position: 0px -40px;
    }

    .gallery-1 {
        min-height: 40rem;
    }

}

@media screen and (min-width: 1700px) {
    html {
        $header1: 3rem;
        $header2: 4.5rem;
        $header3: 3.5rem;
        $header4: 2.5rem;
        $text: 2.7rem;
        $big: 6rem;
    }
}